@page "/car"


<section id="">
    <div class="container">
        <h1>Продукт</h1>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">CarId</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Model</th>
                    <th scope="col">Year</th>
                    <th scope="col">Mileage</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>                  
                </tr>
            </thead>
            <tbody>
               @foreach (var flow in result)
                {
                    <tr>
                        <th scope="row">@flow.CarId</th>
                        <td>@flow.Brand</td>
                        <td>@flow.Model</td>
                        <td>@flow.Year</td>
                        <td>@flow.Mileage</td>
                        <td>@flow.Price</td>         
                        <td>@flow.Description</td>
                    </tr>
                } 
            </tbody>
        </table>
    </div>
</section>


@code {
   public partial class Cars
    {
        public int CarId { get; set; }

        public string Brand { get; set; } = null!;

        public string Model { get; set; } = null!;

        public int Year { get; set; }

        public int? Mileage { get; set; }

        public decimal Price { get; set; }

        public string? Description { get; set; }

    }

    public Cars[] result = new Cars[] { };


    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();

        client.BaseAddress = new Uri("https://apicarus.onrender.com/");

        result = await client.GetFromJsonAsync<Cars[]>("api/Car");

        return;
    }











}